<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="stylesheet" href="./style.css">
  </head>
  <body class="bg-gray-300">
   
      <header class="header-bg	">
        <h1 class="mb-4 p-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white baltazar-font">{{ title }}</h1>
      </header>
      <main  class="flex flex-col center-start m-auto justify-center w-4/5 place-content-center">
          {{ content | safe }}
      </main>
    </div>
  </body>
</html>