@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}
@font-face {
  font-family: Baltazar;
  src: url(Balthazar-Regular.ttf);
}

.header-bg {
  background-color: #27259E;
}
.baltazar-font {
  font-family: Baltazar;
}

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    @apply text-blue-600 underline;
  }
}

.image {
    @apply w-96;
    @apply h-96;
}