@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
}
@font-face {
  font-family: Baltazar;
  src: url(Balthazar-Regular.ttf);
}

.header-bg {
  background-color: #27259E;
}

.red-square {
  background-color: #FF0D0D;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  position: absolute;
  margin-left: -22px;
  margin-top: -22px;
}

.header-red {
  color: #FF0D0D;
}

.baltazar-font {
  font-family: Baltazar;
}

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    @apply text-blue-600 underline;
  }
}

.image {
    @apply h-96;
}

.list {
  list-style: auto;
}